services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    volumes:
      - ./:/var/www
    networks:
      - net

  nginx:
    image: nginx:1.29-alpine
    depends_on:
      - app
    ports:
      - ${APP_HTTP_PORT:-8080}:80
    volumes:
      - ./:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - net

networks:
  net:
    driver: bridge
